.report-type {
    color: rgb(208, 168, 92);
    
}

.card-title {
    font-family: 'lato-bold';
    a {
        color:#45595d!important;
    }
    p {
        margin-left: 4px;
        font-size: 10px!important;
        color:#536373!important;
    }
}